<!DOCTYPE html>
<html>
  <head>
    <title>rails-react-boilerplate</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" media="all" href="/dist/css/app.css" />
    <script src="/dist/js/app.vendor.js" type="text/javascript"></script>
    <script src="/dist/js/app.js" type="text/javascript"></script>
  </head>
  <body>
    <div id="app"></div>
    <%= yield %>

  </body>
</html>
